{% extends 'base.html' %}

{% block main %}

    Banco de Horas
    <br>
    {% for hora_extra in object_list %}

        <a href="{% url 'update_hora_extra' hora_extra.id %}">
            {{ hora_extra }}
        </a>
        <a href="{% url 'delete_hora_extra' hora_extra.id %}">
            Deletar
        </a>
        <br>
    {% endfor %}
    {% if not object_list %}
        <h3>Não existe registro de hora extra no banco de dados</h3>
    {% endif %}
    <a href="{% url 'create_hora_extra' %}">Adicionar HE</a>
{% endblock %}