{% extends 'base.html' %}

{% block main %}

    List
    <br>

    {% for funcionario in object_list %}
        <a href="{% url 'update_funcionario' funcionario.pk %}">
            {{ funcionario }}
        </a>
        <a href="{% url 'delete_funcionario' funcionario.pk %}">
            Deletar
        </a>
        <br>
    {% endfor %}

        <a href="{% url 'create_funcionario' %}" class="btn btn-info">Novo</a>
        <a href="{% url 'report_funcionario' %}" class="btn btn-info">Relatório de Funcionários</a>
        <a href="{% url 'report_funcionario_html' %}" class="btn btn-info">Relatório de Funcionário Html</a>

{% endblock %}