{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method="post">
        {% csrf_token %}

        {{ form | bootstrap }}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
<br>
    {% if object %}
        <a href="{% url 'create_documento' object.id %}" class="btn btn-sucess">Adicionar documento</a>
    {% endif %}
    <ul>
        {% for documento in object.documento_set.all %}
            <li>
                <a href="{{ documento.arquivo.url }}">{{ documento.descricao }}</a> <br>
            </li>
        {% endfor %}
    </ul>
    <h2>Banco de Horas</h2>
    <ul>
        {% for registro_horas in object.registrohoraextra_set.all %}
            <li>
                <a href="{% url 'update_hora_extra' registro_horas.id %}">
                    {{ registro_horas.motivo }} | {{ registro_horas.horas }}
                </a><br>
            </li>
        {% endfor %}
    </ul>

    <h3>Total de Horas Extras: {{ object.total_horas_extras }}</h3>

{% endblock %}



